li{
	display:inline;
	padding:15px;
	
}

.container-fluid{

.btn-primary
background-color: $azul-color;
border-color:$azul-color;
border-radius:25px;
padding:10px;

h1
$color:$red-color;

}








.foto{
	background-image:url("../images/1920x665-1.jpg");
	background-size:cover;

}

